* {
    font-family: 'Roboto', sans-serif;
    outline: none !important;
}

body {
    background: url(../img/pkp3.jpg) no-repeat;
    background-size: cover; 
    color: rgb(255, 227, 236);
}

h1 {
    font-size: 60px;
}

a {
    text-decoration: none !important;
}

.main {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    
    /* background-color: rgba(0, 71, 163, 0.466); */
    /* border: 1px solid red; */
    border-radius: 50px;
    /* width: 350px; */
    height: 100vh;
}

.answersItem {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;

    /* border: 1px solid red; */
    background-color: rgba(0, 71, 163, 0.466);
    height: 100vh;
}

.answerInside

.answer {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;

    font-size: 30px;
}

/* button log && reg */
.login, .registration {
    padding: 15px;
    margin: 10px;
}

.login, .registration {
    background-color: rgba(38, 151, 243, 0.781);
    border-radius: 50px;
    font-size: 25px !important;
    color: rgba(216, 216, 216, 0.924) !important;
    text-align: center;
}

.login a, .registration a {
    color: rgba(216, 216, 216, 0.924) !important;
}

.login:hover {
    background-color: rgba(19, 65, 104, 0.781) !important;
}

.registration:hover {
    background-color: rgba(19, 65, 104, 0.781) !important;
}

.regLink {
    font-size: 30px !important;
    padding: 20px;
}

.mainTitle {
    color: rgb(255, 202, 132);
    font-size: 35px !important;
    margin-bottom: 100px;
    text-shadow: 3px 3px 10px rgba(39, 159, 214, 0.712);
}

.top {
    font-size: 60px !important;
}

/* page1 */
.ticket {
    color: rgba(255, 20, 20, 0.787);
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.ticket input {
    border-radius: 20px;
    padding: 5px;
    border: 1px solid rgb(10, 101, 129);
}

.sendTicket {
    background-color: rgba(38, 151, 243, 0.781);
    color: rgba(216, 216, 216, 0.924) !important;   
}

.sendTicket:hover {
    background-color: rgba(15, 197, 100, 0.781);    
}

.questions {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

    font-size: 22px;
    color: rgba(216, 216, 216, 0.924) !important;
    /* border: 1px solid red; */
}

.quesInside {
    margin-bottom: 20px;
    text-align: center;
}

